body {
    overflow: hidden; 
}

.container {
    position: relative;
    overflow: hidden;
    margin: 25px auto;
    width: 1000px;
    height: 562.5px;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.container li img {
    position: absolute;
    top: 0;
    z-index: -50;
    opacity: 0;
    transition: all 1s ease;
}

li a {
    text-decoration: underline;
    color: #000 !important;
}

li a:hover {
    color: #000;
    background: #fff;
}

li a:hover + img {
    opacity: 1;
}

a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    text-decoration: none;
}

.unstyled {
    padding-left: 20px;
    padding-top: 20px;
    list-style-type: none;
}

.background-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -15;
}

.easter a {
    color: #000 !important;
    text-decoration: none;
}

.fancybox-margin {
    margin-right: 0;
}


.fancybox-custom .fancybox-skin {
  box-shadow: 0 0 50px #222;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

#backgrounda {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(http://shanevaldes.com/images/fireworks.png) no-repeat;
    background-size: cover;
  }